src/main/resources/xsd/carddata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CardData">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="CardID"/>
                <xs:element type="xs:string" name="AgentReportNumber"/>
                <xs:element type="xs:string" name="PackageNumber"/>
                <xs:element type="xs:string" name="FieldSection"/>
                <xs:element type="xs:string" name="FieldName"/>
                <xs:element type="xs:string" name="FieldValue"/>
                <xs:element type="xs:string" name="FieldType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>