src/main/resources/wsdl/ekis-tessa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01.  -->
<!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ekis.corpit/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ekis.corpit/" name="TessaService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.ekis.corpit/" schemaLocation="../xsd/corpit-ekis-ws.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://rgs.ru/esb/" schemaLocation="../xsd/Notification-1.1.xsd"/>
        </xsd:schema>
    </types>
    <message name="storeArchivalResult">
        <part name="parameters" element="tns:storeArchivalResult"/>
    </message>
    <message name="storeArchivalResultResponse">
        <part name="parameters" element="tns:storeArchivalResultResponse"/>
    </message>
    <message name="ServiceException">
        <part name="fault" element="tns:ServiceException"/>
    </message>
    <message name="receiveNotification">
        <part name="parameters" element="tns:receiveNotification"/>
    </message>
    <message name="receiveNotificationResponse">
        <part name="parameters" element="tns:receiveNotificationResponse"/>
    </message>
    <message name="receivePackageData">
        <part name="parameters" element="tns:receivePackageData"/>
    </message>
    <message name="receivePackageDataResponse">
        <part name="parameters" element="tns:receivePackageDataResponse"/>
    </message>
    <portType name="Tessa">
        <operation name="storeArchivalResult">
            <input wsam:Action="http://ws.ekis.corpit/Tessa/storeArchivalResultRequest" message="tns:storeArchivalResult"/>
            <output wsam:Action="http://ws.ekis.corpit/Tessa/storeArchivalResultResponse" message="tns:storeArchivalResultResponse"/>
            <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://ws.ekis.corpit/Tessa/storeArchivalResult/Fault/ServiceException"/>
        </operation>
        <operation name="receiveNotification">
            <input wsam:Action="http://ws.ekis.corpit/Tessa/receiveNotificationRequest" message="tns:receiveNotification"/>
            <output wsam:Action="http://ws.ekis.corpit/Tessa/receiveNotificationResponse" message="tns:receiveNotificationResponse"/>
            <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://ws.ekis.corpit/Tessa/receiveNotification/Fault/ServiceException"/>
        </operation>
        <operation name="receivePackageData">
            <input wsam:Action="http://ws.ekis.corpit/Tessa/receivePackageDataRequest" message="tns:receivePackageData"/>
            <output wsam:Action="http://ws.ekis.corpit/Tessa/receivePackageDataResponse" message="tns:receivePackageDataResponse"/>
            <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://ws.ekis.corpit/Tessa/receivePackageData/Fault/ServiceException"/>
        </operation>
    </portType>
    <binding name="TessaPortBinding" type="tns:Tessa">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="storeArchivalResult">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="receiveNotification">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="receivePackageData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="TessaService">
        <port name="TessaPort" binding="tns:TessaPortBinding">
            <soap:address location="http://f0990.tls.msk.ru:8080/ekis-tessa"/>
        </port>
    </service>
</definitions>